<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mern</title>
</head>
<body>
    {{>header}}
    <h1 class="text-center bg-warning py-4 text-white">happy hacking ! Mern</h1>
    {{!-- <footer>
        <h4 class="bg-primary py-3 text-white text-center">Developed by Mr_deepanshu</h4>
    </footer> --}}
</body>
</html>